.border-none {
  border: none;
}

.border-transparent {
  border-color: transparent;
}

.border-t-0 {
  border-left-width: 0px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-t-1 {
  border-left-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

.border-t-2 {
  border-left-width: 2px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t-4 {
  border-left-width: 4px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-t-5 {
  border-left-width: 5px;
}

.border-r-5 {
  border-right-width: 5px;
}

.border-b-5 {
  border-bottom-width: 5px;
}

.border-l-5 {
  border-left-width: 5px;
}

.border-style {
  border-style: solid;
}

.border-style {
  border-style: dashed;
}

.border-gray {
  border-style: gray;
}

.border-gray-100 {
  border-style: "#f7fafc";
}

.border-gray-200 {
  border-style: "#edf2f7";
}

.border-gray-300 {
  border-style: "#e2e8f0";
}

.border-gray-400 {
  border-style: "#cbd5e0";
}

.border-gray-500 {
  border-style: "#a0aec0";
}

.border-gray-600 {
  border-style: "#718096";
}

.border-gray-700 {
  border-style: "#4a5568";
}

.border-gray-800 {
  border-style: "#2d3748";
}

.border-gray-900 {
  border-style: "#1a202c";
}

.border-red {
  border-style: red;
}

.border-red-100 {
  border-style: "#fff5f5";
}

.border-red-200 {
  border-style: "#fed7d7";
}

.border-red-300 {
  border-style: "#feb2b2";
}

.border-red-400 {
  border-style: "#fc8181";
}

.border-red-500 {
  border-style: "#f56565";
}

.border-red-600 {
  border-style: "#e53e3e";
}

.border-red-700 {
  border-style: "#c53030";
}

.border-red-800 {
  border-style: "#9b2c2c";
}

.border-red-900 {
  border-style: "#742a2a";
}

.border-orange {
  border-style: orange;
}

.border-orange-100 {
  border-style: "#fffaf0";
}

.border-orange-200 {
  border-style: "#feebc8";
}

.border-orange-300 {
  border-style: "#fbd38d";
}

.border-orange-400 {
  border-style: "#f6ad55";
}

.border-orange-500 {
  border-style: "#ed8936";
}

.border-orange-600 {
  border-style: "#dd6b20";
}

.border-orange-700 {
  border-style: "#c05621";
}

.border-orange-800 {
  border-style: "#9c4221";
}

.border-orange-900 {
  border-style: "#7b341e";
}

.border-yellow {
  border-style: yellow;
}

.border-yellow-100 {
  border-style: "#fffff0";
}

.border-yellow-200 {
  border-style: "#fefcbf";
}

.border-yellow-300 {
  border-style: "#faf089";
}

.border-yellow-400 {
  border-style: "#f6e05e";
}

.border-yellow-500 {
  border-style: "#ecc94b";
}

.border-yellow-600 {
  border-style: "#d69e2e";
}

.border-yellow-700 {
  border-style: "#b7791f";
}

.border-yellow-800 {
  border-style: "#975a16";
}

.border-yellow-900 {
  border-style: "#744210";
}

.border-green {
  border-style: green;
}

.border-green-100 {
  border-style: "#f0fff4";
}

.border-green-200 {
  border-style: "#c6f6d5";
}

.border-green-300 {
  border-style: "#9ae6b4";
}

.border-green-400 {
  border-style: "#68d391";
}

.border-green-500 {
  border-style: "#48bb78";
}

.border-green-600 {
  border-style: "#38a169";
}

.border-green-700 {
  border-style: "#2f855a";
}

.border-green-800 {
  border-style: "#276749";
}

.border-green-900 {
  border-style: "#22543d";
}

.border-teal {
  border-style: teal;
}

.border-teal-100 {
  border-style: "#e6fffa";
}

.border-teal-200 {
  border-style: "#b2f5ea";
}

.border-teal-300 {
  border-style: "#81e6d9";
}

.border-teal-400 {
  border-style: "#4fd1c5";
}

.border-teal-500 {
  border-style: "#38b2ac";
}

.border-teal-600 {
  border-style: "#319795";
}

.border-teal-700 {
  border-style: "#2c7a7b";
}

.border-teal-800 {
  border-style: "#285e61";
}

.border-teal-900 {
  border-style: "#234e52";
}

.border-blue {
  border-style: blue;
}

.border-blue-100 {
  border-style: "#ebf8ff";
}

.border-blue-200 {
  border-style: "#bee3f8";
}

.border-blue-300 {
  border-style: "#90cdf4";
}

.border-blue-400 {
  border-style: "#63b3ed";
}

.border-blue-500 {
  border-style: "#4299e1";
}

.border-blue-600 {
  border-style: "#3182ce";
}

.border-blue-700 {
  border-style: "#2b6cb0";
}

.border-blue-800 {
  border-style: "#2c5282";
}

.border-blue-900 {
  border-style: "#2a4365";
}

.border-indigo {
  border-style: indigo;
}

.border-indigo-100 {
  border-style: "#ebf4ff";
}

.border-indigo-200 {
  border-style: "#c3dafe";
}

.border-indigo-300 {
  border-style: "#a3bffa";
}

.border-indigo-400 {
  border-style: "#7f9cf5";
}

.border-indigo-500 {
  border-style: "#667eea";
}

.border-indigo-600 {
  border-style: "#5a67d8";
}

.border-indigo-700 {
  border-style: "#4c51bf";
}

.border-indigo-800 {
  border-style: "#434190";
}

.border-indigo-900 {
  border-style: "#3c366b";
}

.border-purple {
  border-style: purple;
}

.border-purple-100 {
  border-style: "#faf5ff";
}

.border-purple-200 {
  border-style: "#e9d8fd";
}

.border-purple-300 {
  border-style: "#d6bcfa";
}

.border-purple-400 {
  border-style: "#b794f4";
}

.border-purple-500 {
  border-style: "#9f7aea";
}

.border-purple-600 {
  border-style: "#805ad5";
}

.border-purple-700 {
  border-style: "#6b46c1";
}

.border-purple-800 {
  border-style: "#553c9a";
}

.border-purple-900 {
  border-style: "#44337a";
}

.border-pink {
  border-style: pink;
}

.border-pink-100 {
  border-style: "#fff5f7";
}

.border-pink-200 {
  border-style: "#fed7e2";
}

.border-pink-300 {
  border-style: "#fbb6ce";
}

.border-pink-400 {
  border-style: "#f687b3";
}

.border-pink-500 {
  border-style: "#ed64a6";
}

.border-pink-600 {
  border-style: "#d53f8c";
}

.border-pink-700 {
  border-style: "#b83280";
}

.border-pink-800 {
  border-style: "#97266d";
}

.border-pink-900 {
  border-style: "#702459";
}
