// ----------------------------------------------
// Border
// ----------------------------------------------
.border-none {
  border: none;
}
.border {
 border: 1px solid ;
}

// border-width
@each $widthKey, $widthVal in $border-width {
  @each $dirKey, $dirVal in $direction {
    .border-#{$dirKey}-#{$widthKey}{
      border-#{$dirVal}-width: ($widthVal * 1px);
    } 
  }
}
@each $dirKey, $dirVal in $direction {
  .border-#{$dirKey}{
    border-#{$dirVal}-width: 1px;
  } 
}


// border-style
@each $styleKey, $styleVal in $border-style {
  @each $dirKey, $dirVal in $direction {
    .border-#{$dirKey}-#{$styleKey}{
      border-#{$dirVal}-style: $styleVal
    } 
  }
}


// border-color
@each $colorListKey, $colorListVal in $border-color {
  .border-#{$colorListKey}{
    border-color: $colorListKey;
  }
  @each $colorKey, $colorVal in $colorListVal {
    .border-#{$colorListKey}-#{$colorKey}{
      border-color: $colorVal;
    }
  }
}

