// --------------------------------------------------
// Utilities
// --------------------------------------------------
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.uppercase {text-transform: uppercase}
.lowercase {text-transform: lowercase}
.capitalize {text-transform: capitalize}

.clearfix {
  @include clearfix;
}